html{
    font-family: Baloo;
}

body{
    margin: 0px;
    box-sizing: border-box;
  
}

#top-font{
    text-align: center;
}

#emojiContainer{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
}

span{
    margin: 5px;
}


#input{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    height: 45px;
}


#button{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
}

#button #push-btn{
    background-color: yellowgreen;
    color: white;
    font-size: 19px;
    font-family: Baloo;
    border-radius: 5px ;
    border: none;
    padding-left:  10px;
    padding-right: 10px;
}

#emoji-input{
    border-radius: 5px;
    text-align: center;
    outline: none;
    border: blue 1px solid;
    font-size: 19px;
    font-family: Baloo;
}